<div>
  <div class="row bg-warning"> 
    <div class="col-md-6">
      <div *ngFor='let quote of quotes; let i= index'>
          <div class="quote-buttnToggle">
            <div>
            </div>
            <div class="my-3" (click)='toggleDetails(i)'  appHighlight> <span id="quoteComponentBinding">{{quote.id}}.  {{quote.author}} on: </span>{{quote.completeDate|date}}</div>
           
            <div class="clickSeeDescription m-3">
              <small><button (click)='toggleDetails(i)' class="btn btn-sm btn-dark">See Description</button></small>
            </div>
            
          </div>
          <!-- <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail> -->
        
         <app-quote-detail  *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail> 
      </div>
  </div>
  <div class="col-md-5">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  </div>
  <p *ngIf='quotes.length >5' style='color: red'>Warning ! <span class="warningText">Keep them Coming !!</span></p>
  <hr>
</div>


