<div class="row">
    <div class="card" style="margin-top: 20px;">
        <div class="card-body">
            <p> Quote: {{quote.description}}</p>
            <p>Published: {{quote.completeDate|dateCount}}</p>
            <div class="">
                <p>Likes</p>
                <div id="upvote">{{quote.upvote}}
                <button class="btn btn-success mx-3 btn-sm"(click) = "likes()" >Likes:  </button>
                </div>
                <div id="downvote">{{quote.downvote}}</div>
                <button class="btn btn-dark mx-3 btn-sm" (click) = "dislike()">Dislikes: </button>
              </div>
        </div>
        <div class="card-footer">
            <button (click)= 'quoteDelete(true)' class="btn btn-sm btn-warning">Delete quote</button>
        </div>
    </div>
</div>
